@model IEnumerable<TotalRecall.Hit>

@{
    ViewBag.Title = "Search";
}

<h2>Search Results</h2>

<ol>
@foreach(var h in Model) {
    <li><a href="@h.Url">@Html.Raw(h.Title)</a><br/>
	@Html.Raw(h.Excerpt)</li>
}
</ol>